<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog con informacion relacionados a la obtencion de la ciudadania Croata">
    <meta name="keywords" content="Croacia, Croata, partida de nacimiento, turno embajada, ciudadania europea">
    <title>Mi proyecto-Blog</title>
    <link rel="stylesheet" href="../../Coder/css/estilo.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid fixed-top">
        <a class="navbar-brand" href="../../Coder/index.html"><img class="logo" alt="Logo"
                src="../../Coder/assets/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../Coder/index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../../Coder/views/blog.html">Blog <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Coder/views/nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Coder/views/contacto.html">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../../Coder/views/servicios.html#croataTable">Obtener Turno</a>
                        <a class="dropdown-item" href="../../Coder/views/servicios.html#nacimientoTable">Buscar
                            Partidas</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container-fluid">
        <div class="section__videoFrame--centrado">
            <h5>
                Dra.Adriana Smajic
            </h5>
            <p>Este video contiene informacion relevante para el proceso de obtencion de la ciudadania croata</p>

            <iframe class="section__video--tamanio" width="auto" height="auto" src="https://www.youtube.com/embed/jDvcoE-T0nI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="row">
            <article class="col-md noticia">
                <h3 class="noticia__titulo--tamanio noticia__titulo--color">Facilitan la obtención de la ciudadanía
                    croata
                </h3>
                <p class="noticia__texto--tamanio noticia__texto--color">Si eres descendiente de ciudadanos croatas te
                    interesa saber que ahora es más fácil reclamar tu
                    derecho a la ciudadanía de ese país. Siempre y cuando puedas obtener las partidas croatas de tus
                    parientes y
                    demostrar el vínculo. Al principio de este año entró en vigencia la nueva Ley de Ciudadanía Croata
                    que había sido
                    propuesta en 2018. Las modificaciones, entre otros objetivos, están dirigidas a reconocer el derecho
                    de los
                    descendientes croatas e incentivar la migración hacia este país. En total se hicieron cinco cambios
                    claves en la ley que incluyen la ciudadanía croata sin examen. Un
                    aspecto que dificultaba en gran medida la obtención de la ciudadanía ya que los solicitantes estaban
                    obligados a conocer el idioma, la estructura social y la cultura del país.</p>
            </article>
            <article class="col-md">
                <h3 class="noticia__titulo--tamanio noticia__titulo--color">¿Por qué obtener la ciudadanía de este país?
                </h3>
                <p class="noticia__texto--tamanio noticia__texto--color"> Si bien este país balcánico ha atravesado
                    momentos difíciles, ha demostrado que se sabe recuperar.
                    En 1995, luego de ponerle fin a la guerra ingresó a la Unión Europea. Y es el país más joven de la
                    Comunidad. Lo que quiere decir que si consigues el reconocimiento disfrutarás de los beneficios de
                    tener
                    ciudadanía croata y, por lo tanto, europea. Tendrás libre tránsito entre los países que conforman la
                    comunidad. Y los controles fronterizos
                    serán menos rigurosos que si lo haces como ciudadano no europeo. Además, será más sencillo viajar
                    por
                    estudio o por trabajo, acceder a becas y programas estudiantiles específicas para los países
                    miembros.
                    Así mismo tendrás menos trabas para hacer negocios o adquirir propiedades en Europa. Tendrás acceso
                    al sistema de salud comunitario y protección consular. Más allá de los beneficios de tener doble
                    ciudadanía europea, Croacia tiene mucho que ofrecer como
                    país.
                    Está ubicado en el centro de Europa y gran parte de su territorio da hacia el mar Adriático. La
                    industria principal es el turismo. Por lo que sus habitantes están acostumbrados a la presencia de
                    extranjeros.
                    Aunque el idioma es muy distinto del español, la mayoría de las personas hablan son bilingües. Esto
                    facilitará tu comunicación durante tu estadía. Además, la gente es muy amable, les gusta conversar y
                    no
                    dudarán en ayudarte si lo necesitas.
                    Todo esto sumado a la belleza de la costa adriática, las islas y del resto del territorio lo hace un
                    gran destino para vivir o visitar cuando quieras.
                </p>
            </article>
            <article class="col-md">
                <h3 class="noticia__titulo--tamanio noticia__titulo--color">Cómo sacar la ciudadanía croata en Argentina
                </h3>
                <p class="noticia__texto--tamanio noticia__texto--color">Si eres descendiente de un ciudadano croata y
                    vives en Argentina, Uruguay o Paraguay te
                    corresponde
                    hacer el trámite en la embajada de Croacia en Argentina.
                    Debes reunir todos los requisitos que se muestran en el sitio web de la embajada y luego
                    reservar un
                    turno para presentar los documentos.
                    Los requisitos para obtener la ciudadanía croata en Argentina son:
                    Formulario de solicitud que se puede conseguir en la misma web de la embajada. Debe completarse
                    antes de
                    acudir a la cita.
                    Hoja de vida que contenga los datos personales, empleo, domicilio, estado civil y datos sobre
                    los
                    hijos
                    si aplica. Si algún pariente cercano ha obtenido la ciudadanía croata también se incluye.
                    Documento de identidad con foto reciente.
                    Certificados de nacimiento, de casamiento (si aplica) y antecedentes penales. Todos deben ser
                    originales
                    y con fecha de emisión menor a seis meses.
                    Si presentas la solicitud como descendiente de inmigrantes debes llevar los siguientes
                    documentos de
                    tu
                    antepasado croata:
                    Certificado de nacimiento original emitido por el Registro Civil o Archivo Nacional de Croacia.
                    Certificado de nacimiento de todos los antepasados para demostrar el vínculo con el familiar
                    croata.
                    Documento de viaje que haya usado el antepasado al momento de emigrar de Croacia o un documento
                    donde
                    conste la fecha de ingreso a Argentina.
                    Cuando la solicitud es para un menor de edad hay que presentar su certificado de nacimiento
                    junto
                    con la
                    resolución de ciudadanía croata del padre o la madre. Además, es necesario que el progenitor no
                    croata
                    dé su consentimiento por escrito.
                </p>
            </article>
        </div>
    </section>
    <footer class="container-fluid fixed-bottom">
        <div class="float-left footer--padding">
            © Diseñado y Desarrollado | Sebastian Cerda
        </div>
        <div class="float-right">
            <img class="footer__social-icons--size footer--padding"
                src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-128.png"
                alt="instagram">
            <img class="footer__social-icons--size footer--padding"
                src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Messenger_colored_svg-128.png"
                alt="messanger">
            <img class="footer__social-icons--size footer--padding"
                src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/whatsapp-128.png" alt="whatsapp ">
            <img class="footer__social-icons--size footer--padding"
                src="https://cdn0.iconfinder.com/data/icons/social-media-2092/100/social-56-128.png" alt="telegram">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
</body>

</html>