<!DOCTYPE html>
<html lang="en">
<!--Inicio de Head-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Informacion sobre Sebastian Cerda, creador de la paguina web">
    <meta name="keywords" content="Croacia, Croata, partida de nacimiento, turno embajada, ciudadania europea">
    <title>Mi proyecto-Nosotros</title>
    <link rel="stylesheet" href="../../Coder/css/estilo.css">
</head>
<!--Inicio de Body-->

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid fixed-top">
        <a class="navbar-brand" href="../../Coder/index.html"><img class="logo" alt="Logo" src="../../Coder/assets/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../Coder//index.html">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="../../Coder/views/blog.html">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../../Coder/views/nosotros.html">Nosotros <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Coder/views/contacto.html">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../../Coder/views/servicios.html#croataTable">Obtener Turno</a>
                        <a class="dropdown-item" href="../../Coder/views/servicios.html#nacimientoTable">Buscar Partidas</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section>
        <!--incio de article-->
        <article>
            <!--incio de contenedor para presentacion-->
            <div class="autor">
                <!--imagen del autor-->
                <img class="foto-autor rounded mx-auto d-block" src="../../Coder/assets/seba.jpg" alt="Sebastian Cerda"
                    width="150" height="150">
                <!--contenedor descripcion del autor-->
                <div class="descripcion-autor">
                    <!--titulo con nombre-->
                    <h3>Sebastian Cerda</h3>
                    <!--descripcion-->
                    <p>Sebastian es analista de sistemas y aspirante a ciudadano croata. Trabaja en Chevron y es un
                        apasionado de los deportes, especialmente el voley. Su lema preferido es: "A veces se gana,
                        otras se aprende!".</p>
                    <!--link a perfil en linkedin-->
                    <a href="https://www.linkedin.com/in/sebasti%C3%A1n-cerda-319b9642/" target="_blank">Ver su perfil
                        de LinkedIn</a>
                    <!--fin contenedor para descripcion-->
                </div>
                <!--fin contenedor para presentacion-->
            </div>
            <!--fin de article-->
        </article>
        <!--fin de section-->
    </section>
    <!--incio de footer-->
    <footer class="container-fluid fixed-bottom">
        <img class="footer__social-icons--size footer__social-icons--padding"
            src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-128.png"
            alt="instagram">
        <img class="footer__social-icons--size footer__social-icons--padding"
            src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Messenger_colored_svg-128.png"
            alt="messanger">
        <img class="footer__social-icons--size footer__social-icons--padding"
            src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/whatsapp-128.png" alt="whatsapp ">
        <img class="footer__social-icons--size footer__social-icons--padding"
            src="https://cdn0.iconfinder.com/data/icons/social-media-2092/100/social-56-128.png" alt="telegram">
        <a href="#header">Ir al top</a>
    </footer>
    <!--fin de body-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
</body>

</html>